main{
	background: #eeeeee;
}
#cssmenu{
	background: url(../../../assets/images/subheader_bg1.png); 
	border-bottom-color: #0c6fbe;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
.bg-fff{
	background: #fff;
}
.section-title span{
	color: #e23816;
}
.border-box{
	border-color: #e1e1e1;
}
.info-site-top{
	background: #409be4;
	color: #ffffff;
	border-top: 3px solid #0c6fbe;
}
.info-site-bot{
	background: url(../../../assets/images/subheader_bg1.png);
}
.info-site-bot .txt-ft{
	color: #fff;
}
.bg-red{
	background: #e23816;
	border-bottom: 3px solid #911800;
	color: #fff;
}
.bg-gray{
	background: #2e3539;
	border-bottom: 3px solid #000;
	color: #fff;
}
thead{
	background: #0c6fbe;
	color: #fff; 
}